[Unit]
Description=test_1951705-1.0
[Service]
Type=forking
ExecStart=/usr/sbin/stu/test_1951705
#ExecStop=kill -9 $(ps -ef|grep test|grep -v grep|awk '$9~/\[main/ {print $2}')
#ExecRestart=kill -9 $(ps -ef|grep test|grep -v grep|awk '$9~/\[main/ {print $2}') && /usr/sbin/stu/test_1951705
KillMode=control-group
#KillMode=process
[Install]
WantedBy=multi-user.target
